@if (!User.Identity.IsAuthenticated)
{
<h2>Login Succesfull</h2>
<ol>
    <li href="">Alta, baja,calif</li>
    <li href="">maestra</li>
    <li href="">kardex</li>
    <li href="">cambio clave</li>
    <li href="">historiales</li>
</ol>
}
else
{
    <p href="/">home</p>
}
