<h1>Iniciar sesión</h1>
<form action="/user/index" method="post">
    <div class="form-group">
        <label for="IdUsuario">Id Usuario</label>
        <input class="form-control" type="text" pattern="[0-9]+" name="IdUsuario" placeholder="Id Usuario"/>
    </div>
    <div class="form-group">
        <label for="Clave">Clave</label>
        <input class="form-control" type="password" name="Clave" placeholder="Clave"/>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Iniciar sesión"/>
    </div>
</form>
