@{    
    ViewBag.Title = "Alta alumno";
}
<h1>Alta alumno</h1>
<form action="/Maestro/AltaAlumno" method="post">
    <div class="form-group">
        <label for="IdUsuario">Id Alumno</label>
        <input class="form-control" type="text" pattern="[0-9]+" name="IdUsuario" placeholder="Id Alumno" autofocus=""/>
    </div>
    <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input class="form-control" type="text" pattern="[A-z ]+" name="Nombre" placeholder="Nombre"/>
    </div>
    <div class="form-group">
        <label for="Apellido">Apellido</label>
        <input class="form-control" type="text" pattern="[A-z ]+" name="Apellido" placeholder="Apellido"/>
    </div>
    <div class="form-group">
        <label for="Clave">Clave</label>
        <input class="form-control" type="password" name="Clave" placeholder="Clave" autocomplete="new-password"/>
    </div>
    <div class="form-group">
        <label for="Sexo">Sexo</label>
        <input class="form-control" type="text" pattern="[MF]" name="Sexo" placeholder="Sexo"/>
    </div>
    <div class="form-group">
        <label for="Activo">Activo</label>
        <input class="form-control" type="checkbox" name="Activo" value="true"/>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Aceptar"/>
    </div>
</form>

