
@if (Global._rol == "ALUMNO" || Global._rol == "MAESTRO" || Global._rol == "ADMIN")
{
    <h2>Bienvenido @Global._rol</h2>
    <ol>
        @if (Global._rol != "ALUMNO")
        {
            <li><a href="Maestro/ConsultaAlumno">Alta, baja,calif</a></li>
        }
        @if (Global._rol == "ADMIN")
        {
            <li><a href="">Maestra</a></li>
        }
        @if (Global._rol != "MAESTRO")
        {
            <li><a href="Alumno/ConsultaCalificaciones">Kardex</a></li>
        }
        @if (Global._rol != "ADMIN")
        {
            <li><a href="Historial/Acceso">historial acceso</a></li>
            <li><a href="Historial/Clave">historial clave</a></li>
        }
        <li><a href="user/CambioClave">cambio clave</a>        </li>
    </ol>
}
else 
{
    <p>Forbidden</p>
    <a href="/">Please Log In</a>
}
